{
  "swagger": "2.0",
  "info": {
    "title": "HIKE HEALTHGS ABDM APIs",
    "description": "Version 1.0",
    "version": "1.0.0"
  },
  "host": "api.fifpclub.com",
  "basePath": "/qa",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/qa": {
      "get": {
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/ABDM/Session/create": {
      "post": {
        "tags": [
          "Session-Api"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/ABDM/EnrolmentViaAadhar/sendOTP": {
      "post": {
        "tags": [
          "HealthID-Aadhar-Enrolment"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "aadhar": {
                  "example": "any"
                },
                "token": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    }
  }
}